body {
  background-color: green;
  font-family: 'Avenir', sans-serif;
}

h1{
  font-family: 'Avenir Next', sans-serif;
  font-size: 46px;
  text-align: center;
}

p{
  font-size: 28px;
}

/** HEADER **/
#header-nav {
  background-color: #F6F2F1;
  border-radius: 0;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav li a{
  font-size: 16px;
  color: #795772;
}

.navbar-default .navbar-nav a:hover {
  color: #281E2B;
}

.navbar-default .navbar-brand{
  font-size: 32px;
  color: #795772;
}

.navbar-default .navbar-brand:hover {
  color: #281E2B;
}

/* END HEADER */



/* HOME PAGE */

#jumbotron-content{
  margin-top: 100px;
}

#card-graphic img{
  height: 450px;
/*  float: left;*/
/*  margin-right: 35px;
  margin-left: 15px;*/

}

.container-fluid .jumbotron{
  margin-bottom: 0px;
  border-radius: 0;
}

.jumbotron h1{
  font-size: 60px;
  margin-bottom: 20px;
}

.jumbotron p{
  font-size: 28px;
}

.bg-dark{
  /*background-color: #281E2B;*/
  background-image: url("../images/arcanas_bgpattern_test7.png");
  color: #F6F2F1;
}
.bg-light{
  background-color: #F6F2F1;
  color: #795772;
}

.btn-custom{
  color: #795772;
  background-color: #F6F2F1;
  border-color: #795772;
}


.btn-custom:hover{
  color: #795772;
  background-color: #FFFFFF;
  border-color: #795772;
}

.btn-custom:active{
  color: #F6F2F1;
  background-color: #795772;
  border-color: #795772;
}

.btn-lg{
  padding: 20px 32px;
  font-size: 22px;

}

.section{
  padding-top:50px;
}
/* END HOME PAGE */


/* FOOTER */
.panel-footer {
  background-color: #281E2B;
  color: #795772;
  height:125px;
  padding-top:50px;
}
/* END FOOTER */







/********** Large devices only **********/
@media (min-width: 1200px) {

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.section, .jumbotron {
   /* background: url('../images/jumbotron_1200.jpg') no-repeat;*/
    min-height: 550px; 

  }

  .small-section{
    min-height: 250px;
  }
}






/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
  /* End Header */

  /* Home Page */
  .section, .jumbotron {
   /* background: url('../images/jumbotron_992.jpg') no-repeat;*/
    min-height: 550px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   /* Header */
 

  /* End Header */

  /* Home Page */
  .section, .jumbotron {
   /* background: url('../images/jumbotron_768.jpg') no-repeat;*/
     min-height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
 /* Home Page */ 
  .section, .jumbotron {
    min-height: 432px;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
 
  /* End Header */
  
  /* Home page */
   .section, .jumbotron {
    min-height: 432px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



