body {
  font-size: 16px;
  color: #fff;
  background-color: #281E2B;
  font-family: 'Avenir', sans-serif;
}

h1{
  font-family: 'Avenir Next', sans-serif;
  font-size: 46px;
}


/** HEADER **/
#header-nav {
  background-color: #F6F2F1;
  border-radius: 0;
  margin-bottom: 0px;
}

.navbar-brand{
  font-size: 32px;
  color: #977B91;
}
/* END HEADER */



/* HOME PAGE */

#jumbotron-content{
  margin-top: 100px;
}

.jumbotron h1{
  font-size: 60px;
}

.bg-dark{
  background-color: #281E2B;
  color: #F6F2F1;
}
.bg-light{
  background-color: #F6F2F1;
  color: #795772;
}
/* END HOME PAGE */


/* FOOTER */
.panel-footer {
  background-color: #281E2B;
  height:125px;
  padding-top:50px;
}
/* END FOOTER */







/********** Large devices only **********/
@media (min-width: 1200px) {

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.section, .jumbotron {
   /* background: url('../images/jumbotron_1200.jpg') no-repeat;*/
    height: 652px; 

  }
}






/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
  /* End Header */

  /* Home Page */
  .section, .jumbotron {
   /* background: url('../images/jumbotron_992.jpg') no-repeat;*/
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   /* Header */
 

  /* End Header */

  /* Home Page */
  .section, .jumbotron {
   /* background: url('../images/jumbotron_768.jpg') no-repeat;*/
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
 /* Home Page */ 
  .section, .jumbotron {
    height: 432px;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
 
  /* End Header */
  
  /* Home page */
   .section, .jumbotron {
    height: 432px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



